<div class="row">
  <div class="span10 offset1" id="subscriber-list">

  <h2>Subscriber Master Index</h2>
  <table>
      <tr>
        <th>Last</th>
        <th>First</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Stripe customer</th>
      </tr>

    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.last_name %></td>
          <td><%= subscriber.first_name %></td>
          <td><%= subscriber.email %></td>
          <td><%= subscriber.phone %></td>
          <td><%= subscriber.stripe_customer_id %></td>
          <td><%= link_to 'Show', subscriber %> | </td>
          <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %> | </td>
          <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div
></div>
