<div class="span6 offset3" id="show_greeting">
  <h3>Welcome, <%= @subscriber.first_name %></h3>
</div>

<div class="showinfo span6 offset3">

  <p id="notice"><%= notice %></p>

  <table>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @subscriber.email %></td>
    </tr>

    <tr>
      <td><strong>First name:</strong></td>
      <td><%= @subscriber.first_name %></td>
    </tr>

    <tr>
      <td><strong>Last name:</strong></td>
      <td><%= @subscriber.last_name %></td>
    </tr>

    <tr>
      <td><strong>Phone:</strong></td>
      <td><%= @subscriber.phone %></td>
    </tr>

    <tr>
      <td><strong>Billing address:</strong></td>
      <td><%= @subscriber.billing_address %></td>
    </tr>

    <tr>
      <td><strong>Billing city:</strong></td>
      <td><%= @subscriber.billing_city %></td>
    </tr>
    <tr>
      <td><strong>Billing state:</strong></td>
      <td><%= @subscriber.billing_state %></td>
    </tr>

    <tr>
      <td><strong>Billing zip:</strong></td>
      <td><%= @subscriber.billing_zip %></td>
    </tr>

    <tr>
      <td><strong>Ship date:</strong></td>
      <td><%= @subscriber.ship_date %></td>
    </tr>

    <tr>
      <td><strong>Payment status:</strong></td>
      <td><%= @subscriber.payment_status %></td>
    </tr>

    <tr>
      <td><strong>Recipient name:</strong></td>
      <td><%= @subscriber.recipient_name %></td>
    </tr>

    <tr>
      <td><strong>Recipient address:</strong></td>
      <td><%= @subscriber.recipient_address %></td>
    </tr>

    <tr>
      <td><strong>Recipient city:</strong></td>
      <td><%= @subscriber.recipient_city %></td>
    </tr>

    <tr>
      <td><strong>Recipient state:</strong></td>
      <td><%= @subscriber.recipient_state %></td>
    </tr>

    <tr>
      <td><strong>Recipient zip:</strong></td>
      <td><%= @subscriber.recipient_zip %></td>
    </tr>
  </table>
    <div id="show_form_bottom">
      <%= link_to 'Edit', edit_subscriber_path(@subscriber), class: "btn btn-primary" %> |
      <%= link_to 'Back', '/', class: "btn btn-primary" %>
    </div>
</div>
